<div id="WhatsApp_bg_header"></div>
<div id="WhatsApp_bg_body"></div>

<div id="chatContainer">

  <div id="sidebar">
    <div id="sidebarHeader">

    </div>
    <div id="searchBox">
      <img width="13" src="../assets/images/searchIcon.png" alt="searchIcon" />
      <input type="text" placeholder="Search or start new chat" >
    </div>
    <div id="sidebarContent">
      <div id="noConversations">
        All chats are archived
      </div>
    </div>
  </div>
  <div id="chat"></div>

</div>

<router-outlet></router-outlet>
